body,
.navbar {
    font-family: 'Allan', cursive;
    background-color: #D7E0C9;
    font-size: 20px;
}

.navbar-brand {
    font-size: 2em;
}

.cor-dourado,
.navbar-brand:hover {
    color: #967500;
}

.cor-azul,
.nav .nav-item .nav-link:hover {
    color: #1B3058;
}

.bg-azul {
    background-color: #1B3058;
}

.nav .nav-item .nav-link.active {
    background-color: #967500;
    color: #D7E0C9;
}

main {
    background: url('../img/bg-effect.png') no-repeat center top fixed;
    background-size: cover;
}

section#capa p {
    font-size: 1.5em;
}

section#colecoes .card {
    background-color: transparent;
    border: none;
}

section#colecoes .card img{
    border-radius: 0;
}